/*TOP CABEÇALHO*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: #000;
    color: #fff
}

a, a:hover, a:visited {
    color: unset;
    text-decoration: none;
}

header {
    background: linear-gradient(180deg, #102347 50%, #181818 100%);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.patrimu-menu-botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.patrimu-menu-botoes img {
    width: 400px;
}

.patrimu-menu-botoes h1 {
    text-align-last: left;
    margin-top: 20px;
    font-size: 24px;
    
}

.patrimu-menu-botoes p {
    margin-top: 14px;
    font-size: 12px;
    font-weight: 300;
}

/* PRINCIPAL - MAIN*/

.patrimu-card-info {
    background-color: #283142;
    border-radius: 10px ; /*raio da borda*/
    padding: 30px 10px; /*espaço entre itens e borda*/

}

.patrimu-container-info {
    width: 100%; /*quanto ocupa da largura*/
    max-width: 900px; /*lagura max usada*/
    margin: 0 auto;
}

#sales {/*id inicia com #*/
    padding: 40px 10px; /*vert e hori*/
    
}

.patrimu-card-graf {
    background-color: #283142;
}

.patrimu-container-graf {
    width: 100%; /*quanto ocupa da largura*/
    max-width: 900px; /*lagura max usada*/
}

.patrimu-card-title {
    color: #676fff; /*cor dafonte*/
    font-size: 24px; /*tamanho da fonte*/
    margin-bottom: 20px;
}

.patrimu-form-control-container{
    margin-bottom: 16px; /*margem ext a baixo*/
    max-width: 300px;
}

.patrimu-form-control {
    width: 100%; /*comprimento da caixa*/
    height: 46px; /*altura da caixa*/
    background-color: #1b2531; /*cor preenchimetno*/
    border: 1px solid #384459; /*grossura da borda*/
    border-radius: 5px ; /*raio da borda*/
    color: #9AAABE; /*cor do texto da caixa*/
    padding: 0 20px; /*espaço vert e horiz*/
    font-size: 18px;
}

.patrimu-sales-table{
    /*formatar a tabela*/
    width: 100%; /*largura de toda tabela*/
    border-spacing: 0;
    border-collapse: collapse; /*mostrar linha divisória da tabela*/
}

.patrimu-sales-table thead {
    /*formatar titulo da tabela*/
    height: 55px;
    font-size: 16px;
    color: #e9e9e9;
    font-weight: 700;
}

.patrimu-sales-table tbody {
    /*formatar body dentro do table*/
    /*height: 500px; /*espaço entre altura dos itens- ñ deu certo*/
    font-size: 14px; /*tamanho da fonte*/
    color: #cfcfcf;
    font-weight: 400;
    text-align: center;
}

.patrimu-sales-table tbody tr {
    /*formatar linha da tabela*/
    height: 74px;
    background-color: #283142;
    border-top: 1px solid #5f6e82;
}

.patrimu-sales-table tbody tr:hover > th {
    /*muda a cor ao passar pelas linhas da tabela*/
    background-color: #384459;
}

.patrimu-sales-table tbody tr:nth-child(odd) {
    /*use essa formatação quando o filho do tr for impar(odd)*/
    background-color: #242c3b;
}

.patrimu-red-btn-conteiner {
    /*alinhando o botão*/
    display: flex; /*o elemento fica solto no quadrante*/
    justify-content: center;
}

.patrimu-red-btn {
    /*formatando a imagem dentro do botão criado*/
    height: 45px;
    width: 45px;
    background: rgba(255,107,114,0.1);
    border: 1px solid #ff6b72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
    cursor: pointer;/*ao passar o mouse, vira a mão*/
}
.patrimu-red-btn img {
    width: 19px;
}

/* >>RESPONSIVIDADE<< */
.show576 {/*por padrão não vai mostrar*/
    display: none;
}

@media (min-width: 576px) {
    /*ponto do px larg a coluna irá aparecer*/
    .show576 {display: table-cell;
    }
    .patrimu-card-info {padding: 35px;
    }
    .patrimu_sales-table tbody tr {height: 55px;
    }
    .patrimu-sales-table tbody {font-size: 18px;
    }
}


.show720 {/*por padrão não vai mostrar*/
    display: none;
}

@media (min-width: 720px) {
    /*ponto do px larg a coluna irá aparecer*/
    .show720 {display: table-cell;}
}