/*TOP CABEÇALHO*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: "Roboto", sans-serif;
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

/*DEFININDO VARIAVEL NO CSS*/
:root {
    /*1rem = 16px, então há 48px em cada espaço, x2 espaço 96px*/
    --gap: 3rem;
    --largura_base: 200px;
    /*laptop 773px então = aside 200px main 500px*/
    -sobra: 15px;
    --cor7: #0C376F;
    --cor6: #2A4E7F;
    --cor5: #48658F;
    --cor4: #667C9F;
    --cor3: #8392AE;
    --cor2: #A1A9BE;
    --cor1: #BFC0CE;
}

/**************   RESPONSIVIDADE   **************/
/******** GRID MOBILE *********/
@media (max-width: 358px) {

    body {
        /*>> mobile 358px x 1128px iphone-6 */
        background-color: yellow;
        font-family: serif;
        display: -ms-inline-grid;
        grid-gap: 0;
        grid-template-areas:
            "header"
            "main"
            "aside"
            "footer";
        grid-gap: 10px;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

}

.o-header {
    background-color: black;
    background: var(--cor1);


}

/******** GRID iPAD + LAPTOP *********/
@media (min-width:773px) {
    body {
        /*>> iPAD 773px e laptop 979px x 741px */
        background-color: green;
        font-family: serif, Arial, Helvetica, sans-serif;
        font-size: 14px;
        display: grid;
        grid-gap: 0px;
        /* espaço entre os elementos do grid */
        grid-template-areas:
            "header header header"
            "aside main main"
            "footer footer footer";
        grid-template-columns: auto auto auto;
        /*vh = atribui total de linhas da viewport, */
        grid-template-rows: auto auto auto;
        padding: 0px 10px 10px 10px;
    }

    .o-header {
        grid-area: header;
        background: var(--cor7);
        text-align: left;
        /* margin-top: 5px; */
        /* padding-top: 0px;
        padding-left: 0px; */
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        position: sticky;
        top: 0;
        /* left: 0; */
        display: grid;
    }

    .o-aside {
        grid-area: aside;
    }

    .o-main {
        grid-area: main;
        /* border-radius: 10px; */
    }

    .o-aside,
    .o-main {
        background: var(--cor1);
        color: #fdfdfd;
        /* padding-top: 10px; */
    }

    .header-container-carrosel {
        background-color: var(--cor6);
        color: white;
        margin-top: 3px;
        padding: 1px;
        margin-bottom: 3px;
        /* size-adjust: 20px; */
        display: flex;
        /*orientação H ou V*/
    }

    .header-carrosel {
        background-color: white;
        color: black;
        width: 50px;
        height: 20px;
        border: 1px solid;
        margin-left: 0px;
        padding: 10px;
        /*espaço vert e horiz*/
        font-size: 12px;

    }

    /* ------ FAIXA INICIAL (MENU) ------*/
    * {
        margin: 0px;
        padding: 0;
    }

    .menu {
        /*Removendo bullets e colocando borda*/
        list-style: none;
        border-right: 1px solid white;
        float: right;
    }

    .menu li {
        /*Estilizando itens do menu*/
        position: relative;
        float: left;
        /* border-right: 1px solid #c0c0c0; */

    }

    .menu li a {
        /*Estilizando links*/
        color: var(--cor1);
        text-decoration: none;
        padding: 0px 30px;
        display: block;
    }

    .menu li a:hover {
        /*Estilizando links*/
        /* background: var(--cor7); */
        color: #fff;
        -moz-window-shadow: 0 3px 10px 0 #CCC;
        /* -webkit-box-shadow: 0 3px 10px 0 #ccc; */
        text-shadow: 0px 0px 5px;
    }

    .menu li ul {
        /*Escondendo submenu*/
        background-color: none;
        position: absolute;
        top: 40px;
        left: 20px;

        display: none;
    }

    .menu li:hover ul,
    .menu li.over ul {
        /*Exibindo submenu*/
        display: block;
        height: 100px;
        text-align-last: center;
    }

    .menu li ul li {
        /*Ajustes finais*/
        /* border: 1px solid #c0c0c0; */
        display: block;
        width: 160px;
        margin: -15px;
        font-size: 13px;
    }

    /* a,
    a:hover,
    a:visited {
        color: var(--cor3);
        border-radius: 5px;
        color: unset;
        text-decoration: line-through;
        transition-duration: 0.5s;
        padding: 20px;
        text-decoration: double;
    } */

    header h1 {
        color: var(--cor2);
        font-size: 2em;
        text-shadow: 0.3px 0px 1px;
    }

    header>p {
        font-size: 1.2em;
        /* text-shadow: 2px 2px 0px var(--cor2); */
    }

    nav {
        text-align: right;
        text-decoration: none;
        font-weight: bold;
        margin-top: 10px;
    }

    nav ul li {
        padding: 20px;
        display: inline;
    }

    nav>a {
        text-decoration: none;
        width: 100px;
    }

    /* ---- ITENS DO ASIDE ----  */
    .aside-container-botoes {
        margin-bottom: 1px;
        /*margem ext a baixo*/
        max-width: 300px;
    }

    .aside-botao {
        width: calc(var(--largura_base));
        background-color: var(--cor7);
        border: 1px solid;
        margin: 0.5px 2px 2px;
        height: 20px;
        color: white;
        padding: 10px;
        font-size: 12px;
        align-items: flex;
    }

    .aside-container-gamer {
        /*ALINHANDO OS BOTOES*/
        display: contents;
        /* margin: 5px 5px 5px 5px; */
        max-width: calc(var(--largura_base));
        text-align: center;

    }

    .aside-gamer {
        width: calc(var(--largura_base));
        background-color: var(--cor6);
        border-radius: 5px;
        margin: 10px 2px 2px;
        height: 200px;
        color: white;
        padding: 10px;
        font-size: 12px;
        align-items: flex;
    }

    /* ---- ITENS DO MAIN ----  */
    .noticia-linha {
        display: flex;
        flex-flow: row wrap;
        padding-block-end: 300px;
    }

    .subsecao-col1 {
        /* background-color: ; */
        text-align: left;
        color: var(--cor7);
        margin: 1% 1% 1% 1.6%;
        width: 33%;
        display: inline-block;
    }

    .subsecao-col2 {
        /* background-color: ; */
        text-align: left;
        color: var(--cor7);
        margin: 1% 1% 1% 1.6%;
        width: 25%;
        display: inline-block;
    }

    .subsecao-col3 {
        /* background-color: ; */
        text-align: left;
        color: var(--cor7);
        margin: 1% 1% 1% 1.6%;
        width: 20%;
        display: inline-block;
    }

    .subsecao-col4 {
        /* background-color: ; */
        text-align: left;
        color: var(--cor7);
        margin: 1% 1% 1% 1.6%;
        width: 25%;
        display: inline-block;
    }

    .o-main {
        grid-area: main;
    }

    /* ---- ITENS DO FOOTER ----  */
    .o-footer {
        grid-area: footer;
        margin-bottom: 5px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: left;
        height: auto;
        background: var(--cor7);
        color: #fdfdfd;
        padding-top: 5px;
        text-decoration: none;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .linha {
        background-color: var(--cor7);
        display: flex;
        flex-flow: row wrap;
        margin: 0;
        padding: 1px;
    }

    .col-1 {
        /* background-color: ; */
        text-align: left;
        color: var(--cor2);
        margin: 1% 1% 1% 1.6%;
        width: 25%;
        display: inline;
    }

    .col-2 {
        /* background-color: ; */
        text-align: left;
        color: var(--cor2);
        margin: 1% 1% 1% 1.6%;
        width: 25%;
        display: inline;
    }

    .col-3 {
        /* background-color: ; */
        text-align: left;
        color: var(--cor2);
        margin: 1% 1% 1% 1.6%;
        width: 50%;
        text-decoration: none;
        display: inline;
    }

    f,
    f:hover,
    f:visited {
        color: var(--cor2);
        border-radius: 5px;
        color: unset;
        transition-duration: 0.5s;
        padding: 15px;
    }
}



/* ITENS DO MAIN */

/* .patrimu-card-info {
    background-color: #283142;
    border-radius: 10px;
    /*raio da borda
    padding: 30px 10px;
    /*espaço entre itens e borda
} */

/* .patrimu-card-title {
    color: #676fff;
    /*cor dafonte
    font-size: 24px;
    /*tamanho da fonte
    margin-bottom: 20px;
} */

/* .patrimu-form-control-container {
    margin-bottom: 16px;
    /*margem ext a baixo
    max-width: 300px;
} */

/* .patrimu-form-control {
    width: 100%;
    /*comprimento da caixa
    height: 46px;
    /*altura da caixa
    background-color: #1b2531;
    /*cor preenchimetno
    border: 1px solid #384459;
    /*grossura da borda
    border-radius: 5px;
    /*raio da borda
    color: #9AAABE;
    /*cor do texto da caixa
    padding: 0 20px;
    /*espaço vert e horiz
    font-size: 18px;
} */

/* .patrimu-sales-table {
    /*formatar a tabela
    width: 100%;
    /*largura de toda tabela
    border-spacing: 0;
    border-collapse: collapse;
    /*mostrar linha divisória da tabela
} */

/* .patrimu-sales-table thead {
    /*formatar titulo da tabela
    height: 55px;
    font-size: 16px;
    color: #e9e9e9;
    font-weight: 700;
} */

/* .patrimu-sales-table tbody {
    /*formatar body dentro do table
    /*height: 500px; /*espaço entre altura dos itens- ñ deu certo
    font-size: 14px;
    /*tamanho da fonte
    color: #cfcfcf;
    font-weight: 400;
    text-align: center;
} */

/* .patrimu-sales-table tbody tr {
    /*formatar linha da tabela
    height: 74px;
    background-color: #283142;
    border-top: 1px solid #5f6e82;
} */

/* .patrimu-sales-table tbody tr:hover>th {
    /*muda a cor ao passar pelas linhas da tabela
    background-color: #384459;
} */

/* .patrimu-sales-table tbody tr:nth-child(odd) {
    /*use essa formatação quando o filho do tr for impar(odd)
    background-color: #242c3b;
} */

/* .patrimu-red-btn-conteiner {
    /*alinhando o botão
    display: flex;
    /*o elemento fica solto no quadrante
    justify-content: center;
} */

/* .patrimu-red-btn {
    /*formatando a imagem dentro do botão criado
    height: 45px;
    width: 45px;
    background: rgba(255, 107, 114, 0.1);
    border: 1px solid #ff6b72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    /*ao passar o mouse, vira a mão
} */

/* .patrimu-red-btn img {
    width: 19px;
} */

/* >>RESPONSIVIDADE<< */
/* .show576 {
    /*por padrão não vai mostrar
    display: none;
} */

/* @media (min-width: 576px) {

    /*ponto do px larg a coluna irá aparecer
    .show576 {
        display: table-cell;
    }

    .patrimu-card-info {
        padding: 35px;
    }

    .patrimu_sales-table tbody tr {
        height: 55px;
    }

    .patrimu-sales-table tbody {
        font-size: 18px;
    }
} */


/* .show720 {
    /*por padrão não vai mostrar
    display: none;
} */

/* @media (min-width: 720px) {

    /*ponto do px larg a coluna irá aparecer
    .show720 {
        display: table-cell;
    }
} */